<section class="selected-recipes-section">
  <div class="container">
    
    <div class="row row-heading">
      <h2>Izdvojeni recepti</h2>
      <a class="see-all-btn" href="#">POGLEDAJ SVE
        <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M4.21976 5.60988L0 1.39012L1.39012 0L7 5.60988L1.39012 11.2198L0 9.82964L4.21976 5.60988Z"
            fill="#353535" />
        </svg>
      </a>
    </div>

    <slick class="row row-items selected-section-slider" settings="selectedRecipes">
      <div class="col">
        <div class="recipe-img" id="recipe-video">
          <img src="./img/panna-cotta.png" alt="Panna Cotta">
        </div>
        <div class="row row__rating-duration">
          <ul class="rating">
            <li><img src="./img/star-rating.svg" alt="orange star rating"></li>
            <li><img src="./img/star-rating.svg" alt="orange star rating"></li>
            <li><img src="./img/star-rating.svg" alt="orange star rating"></li>
            <li><img src="./img/star-rating.svg" alt="orange star rating"></li>
            <li><img src="./img/star-rating-gray.svg" alt="orange star rating"></li>
          </ul>
          <span class="duration">30 min</span>
        </div>
        <h3 class="name"><a href="#">Panna Cotta</a></h3>
      </div>
      <div class="col">
        <div class="recipe-img">
          <img src="./img/kineska-piletina.png" alt="Kineska piletina u umaku">
        </div>
        <div class="row row__rating-duration">
          <ul class="rating">
            <li><img src="./img/star-rating.svg" alt="orange star rating"></li>
            <li><img src="./img/star-rating.svg" alt="orange star rating"></li>
            <li><img src="./img/star-rating.svg" alt="orange star rating"></li>
            <li><img src="./img/star-rating.svg" alt="orange star rating"></li>
            <li><img src="./img/star-rating.svg" alt="orange star rating"></li>
          </ul>
          <span class="duration">30 min</span>
        </div>
        <h3 class="name"><a href="#">Kineska piletina u umaku od avokada i svježeg...</a></h3>
      </div>
      <div class="col">
        <div class="recipe-img" id="recipe-video">
          <img src="./img/istarski-steak.png" alt="Istarski steak">
        </div>
        <div class="row row__rating-duration">
          <ul class="rating">
            <li><img src="./img/star-rating.svg" alt="orange star rating"></li>
            <li><img src="./img/star-rating.svg" alt="orange star rating"></li>
            <li><img src="./img/star-rating.svg" alt="orange star rating"></li>
            <li><img src="./img/star-rating-gray.svg" alt="orange star rating"></li>
            <li><img src="./img/star-rating-gray.svg" alt="orange star rating"></li>
          </ul>
          <span class="duration">30 min</span>
        </div>
        <h3 class="name"><a href="#">Istarski steak sa šparogama i začinskim...</a></h3>
      </div>
      <div class="col">
        <div class="recipe-img" id="recipe-video">
          <img src="./img/losos.png" alt="Lososa na viški">
        </div>
        <div class="row row__rating-duration">
          <ul class="rating">
            <li><img src="./img/star-rating.svg" alt="orange star rating"></li>
            <li><img src="./img/star-rating.svg" alt="orange star rating"></li>
            <li><img src="./img/star-rating.svg" alt="orange star rating"></li>
            <li><img src="./img/star-rating.svg" alt="orange star rating"></li>
            <li><img src="./img/star-rating-gray.svg" alt="orange star rating"></li>
          </ul>
          <span class="duration">30 min</span>
        </div>
        <h3 class="name"><a href="#">Losos na viški s kuhanim povrćem</a></h3>
      </div>
    </slick>

  </div>
</section>